* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../media/images/background.png);
    background-repeat: repeat;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* index */

.navbar-nav {
    flex-direction: row!important;
}

.nav-color {
    color: black;
}

.nav-color:hover {
    color: #EE6C4D;
}

.nav-color:after {
    content: "";
    display: block;
    height: 2px;
    background: #EE6C4D;
    margin-top: 6px;
    opacity: 0;
    transform: translateY(12px);
    transition: all 0.3s ease-in-out;
}

.nav-color:hover:after {
    transform: translateY(0px);
    opacity: 1;
}

.top img {
    object-fit: cover;
    height: 500px;
}

.overlay {
    position: absolute;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 2rem;
}

.work-thumbnail {
    overflow: hidden;
    position: relative;
}

.work-img {
    object-fit: cover;
    height: 240px;
}

.work-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    opacity: 0;
    background-color: rgb(238, 108, 77, 0.8);
    transform: translateY(70px);
    transition: all 0.2s ease-in-out;
}

.work-thumbnail:hover .work-title {
    transform: translateY(0px);
    opacity: 1;
}

/* detail */
.link-color {
    color: #EE6C4D;
}

.link-color:hover {
    color: #c56c55;
    text-decoration: none;
}

/* about */

.avatar img {
    max-width: 150px;
    max-height: 150px;
}

.icon {
    padding: 10px 8px;
}

.star-rating {
	position: relative;
	font-size: 30px;
	word-wrap: normal !important;
}

.star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
    overflow: hidden;
    color: #EE6C4D;
}

.star-rating-back {
	color: #ccc;
}

/* contact */

.contact {
    max-width: 500px;
}

.form-control:focus {
    border-color: #EE6C4D;
    box-shadow: none;
}

.card {
    border: none;
}

/* category */
a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: orange;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

.formpost {
    margin-bottom: 1rem;
}


.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-control:focus {
    box-shadow: none;
}
/* index画像の大きさ */
.index-img {
    object-fit: cover;
    height: 400px;
}

/* detail */
.detail-img {
    object-fit: cover;
    width: 100%;
    height: 800px;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}